/* Βασικές ρυθμίσεις */
body {
  background-color: #000;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

/* Κεντρικός τίτλος Projects */
h3.half-bottom {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 1rem;
  color: white;
  text-align: center;
}

/* Υπότιτλοι assignments */
.assignment h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
  color: #fff;
}

/* Περιγραφές assignments */
.assignment p {
  font-size: 13px;
  line-height: 1.5;
  color: #ccc;
  margin-bottom: 10px;
  text-align: justify;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

/* Εμφάνιση του "Περιγραφή:" */
.assignment
